<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>INGRESO A MATERO</h1><br>
<h2>Logueo.</h2>
<p>Para ingresar al sistema deber&aacute; ir a la direcci&oacute;n <a href="http://www.frsf.utn.edu.ar/matero/admin/">http://www.frsf.utn.edu.ar/matero/admin/</a> 
  , donde se encontrar&aacute; con esta p&aacute;gina de ingreso. </p>
<img 
src="imagenes/ingreso_1.jpg" v:shapes="_x0000_i1026">
<p> Para poder loguearse debe contar primero con un usuario creado <a onClick="xajax_recargar_cuerpo('static.php','solicitud_cuenta.html')">(ver 
  Crear cuenta en el Matero)</a>, entonces ingresar&aacute; su nombre de usuario 
  (nick) y contrase&ntilde;a (pass) en los campos correspondientes.<br>
  Una vez validados los datos ingresados, sigue a la pantalla de selecci&oacute;n 
  de c&aacute;tedras.</p>

  <h2>Selecci&oacute;n de c&aacute;tedra.</h2>
<p>
  Si tiene a cargo la administraci&oacute;n de m&aacute;s de una c&aacute;tedra, 
  deber&aacute; seleccionar una de &eacute;stas en una pantalla similar a la siguiente:  
</p>
<img 
src="imagenes/ingreso_2.jpg" v:shapes="_x0000_i1026">
<p>Luego de seleccionar la c&aacute;tedra, ingresar&aacute; al men&uacute; principal.</p>
<p> <br>
</p>
</body>
</html>
