<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Horarios:</h1>
<h2>Modificar Horarios:</h2>
<img 
src="imagenes/horario_1.jpg">

<ul>
<li>Contenido: Usted tiene la libertad de llenar este campo de texto con lo que crea necesario, como ser:</li>
                 <ul>  <li>Horarios de clases de teor&iacute;a.</li>
<li>Horarios de clases pr&aacute;cticas.</li>
<li>Horarios de Consultas </li></ul>
<p>Tenga en cuenta que dispone de todos los elementos necesarios en un procesador de texto para adornar o decorar el mismo, como ser distintos tama&ntilde;os y tipos de letra, agregar im&aacute;genes, etc.</p>

<li>Guardar Cambios: Recuerde que antes de salir debe guardar los cambios presionando este bot&oacute;n.</li>

<li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li></ul>

</body>
</html>