<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Comisiones.</h1>

<p>Recuerde que el primer paso debe ser dar de Alta una Comisi&oacute;n. Si usted no realiza este paso no podr&aacute; administrar el contenido del sitio relacionado con las comisiones y el siguiente mensaje aparecer&aacute; en la parte superior de su pantalla "Atenci&oacute;n!! Su primera tarea como administrador del sitio de la c&aacute;tedra debe ser crear y activar una comisi&oacute;n".</p>


<h2>Alta de Comisi&oacute;n:</h2>
<p>Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente):</p>
<img 
src="imagenes/comision_1.jpg">

<ul>
<li>Nombre: ingresar el  Nombre de la Comisi&oacute;n</li>

<li>Fecha: por defecto aparecer&aacute; la fecha actual. Usted no necesita cargar nada.</li>

<li>Guardar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra. Si el procedimiento fue realizado con &eacute;xito el siguiente mensaje aparecer&aacute; en la parte superior de su pantalla "Se ingres&oacute; un c&aacute;tedra exitosamente".</li>

<li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li></ul>

<h2>Administrar Comisi&oacute;n:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta una Comisi&oacute;n. Si usted no realiza este paso no podr&aacute; Administrar Comisiones.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): 
<img 
src="imagenes/comision_2.jpg">

<ul>
<li>Fecha Alta: si presiona una vez, ordenar&aacute; en forma creciente por fecha de alta las comisiones. Si presiona dos veces ordenar&aacute; en forma decreciente por fecha de alta las comisiones, (el ordenamiento del listado general, no es por p&aacute;gina).</li>

<li>Comisi&oacute;n modif.: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de Alta de Comisi&oacute;n y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>

<li>Comisi&oacute;n elim.: marcar el cuadro de la Comisi&oacute;n que desea eliminar (si son varias marque todas), y luego presione el bot&oacute;n "Eliminar". Si el procedimiento fue realizado con &eacute;xito el siguiente mensaje aparecer&aacute; en la parte superior de su pantalla "Se elimin&oacute; satisfactoriamente la comisi&oacute;n".</li>

<li>Publicar: marcar el cuadro de la Comisi&oacute;n que desea Publicar, (si son varias marque todas). Si usted no desea publicar en su sitio en este momento la informaci&oacute;n que agreg&oacute; NO marque el cuadro de Publicar, la informaci&oacute;n permanecer&aacute; guardada para cuando desee publicarla. Si una comisi&oacute;n no est&aacute; Activa no podr&aacute; publicarse.</li>

<li>Activa: marcar el cuadro de la Comisi&oacute;n que desea Activar, (si son varias marque todas), por defecto esta opci&oacute;n aparecer&aacute; marcada pero si usted no desea activar la Comisi&oacute;n en este momento debe sacar la marca y presionar Actualizar.
Si usted no desea publicar en su sitio en este momento la informaci&oacute;n que agreg&oacute; NO marque el cuadro de Publicar, la informaci&oacute;n permanecer&aacute; guardada para cuando desee publicarla.
</li>
<li>Actualizar: guarda o graba los cambios realizados en los checkbox de "publicar" y "activa"y vuelve a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra. Si el procedimiento fue realizado con &eacute;xito el siguiente mensaje aparecer&aacute; en la parte superior de su pantalla "Actualizaci&oacute;n de comisiones exitosa".</li>

<li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li>
</ul>
<h2>Para entender m&aacute;s de Activa y Publicar</h2>
<ul>
<li>Activa: Para poder trabajar en el administrador con una comis&oacute;n, &eacute;sta debe estar activa, s&oacute;lo se podr&aacute;n asociar alumnos,ex&aacute;menes parciales y trabajos pr&aacute;cticos a las comisiones activas. Las que no estan activas servir&aacute;n como datos hist&oacute;ricos, para consulta. Una utilidad es que si tiene comisiones viejas, de a&ntilde;os anteriores, las desactiva para que no moleste a la hora de trabajar con las dem&aacute;s activas.</li>
<li>P&uacute;blica: que una comisi&oacute;n est&eacute; publicada quiere decir que se va a poder ver desde el sitio web donde los alumnos podr&aacute;n ver los datos asociados a esa comisi&oacute;n, no es necesario que una comisi&oacute;n est&eacute; activa para que se publique.</li>
</ul>
<p>Es muy beneficioso no eliminar las comisiones. (por los datos hist&oacute;ricos que pueden ser de utilidad para la c&aacute;tedra). Si necesito ver datos hist&oacute;ricos tengo que "activarla" para poder administrar los datos. (pero no necesariamente "publicarla").</p>

</p></body>
</html>