<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Links:</h1>
<p>El primer paso debe ser dar de Alta un Tipo de Link. Si usted no realiza este paso no podr&aacute; dar de Alta Link. El funcionamiento de este m&oacute;dulo es id&eacute;ntico a bibliograf&iacute;a, s&oacute;lo se debe tener especial atenci&oacute;n al campo de </p>
<h2>Alta Tipo Link:</h2>
<p>Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): </p>

<ul>
  <li>Nombre: ingresar el Nombre del Tipo de Link.</li>
  <li>Descripci&oacute;n: ingresar la Descripci&oacute;n del Tipo de Link. </li>
  <li>Aceptar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de la C&aacute;tedra.</li>
  <li>Guardar y Cargar Otro: para cargar varios tipos de links de una sola vez 
    use esta opci&oacute;n. Luego de cargar todos los tipos presione "Aceptar".</li>
  <li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta 
    opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra. Tambi&eacute;n 
    debe presionar "Volver" cuando ya haya guardado los cambios y desee volver 
    a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.</li>
</ul>

<h2>Administrar Tipo Link:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Tipo Link. Si usted no realiza este paso no podr&aacute; Administrar Tipo Link.</p>
<ul>
<li>Tipos de Link - modif.: podr&aacute; realizar las modificaciones que considere necesarias y luego presionar "Guardar Cambios" o si no desea guardar los cambios presione "Volver".</li>

<li>Tipos de Bibliograf&iacute;a - Eliminar: marcar el cuadro del Tipo de Link que desea eliminar (si son varios marque todos), y luego presione el bot&oacute;n "Eliminar".</li>

<li>Agregar nuevo Tipo: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de Alta Tipo Link y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>
	
<li>Volver: presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li></ul>



<h2>Alta Link:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Tipo de Link. Si usted no realiza este paso no podr&aacute; dar de Alta Link.</p>
<img 
src="imagenes/link_1.jpg">

<ul>
  <li>Seleccione Tipo de Link: elegir una de las opciones del men&uacute; desplegable. 
    Dichas opciones son las ingresadas en la secci&oacute;n anterior de Alta Tipo Link.</li>
  <li>Nombre: ingresar el Nombre del Link.</li>
  <li>Descripci&oacute;n: ingresar la Descripci&oacute;n del Link.</li>
  <li>URL: ingresar la direcci&oacute;n URL de dicho Link.</li>
  <li>Aceptar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de la C&aacute;tedra.</li>
  <li>Guardar y Cargar Otro: para cargar varios links de una sola vez use esta 
    opci&oacute;n. Luego de cargar todos los tipos presione "Aceptar".</li>
  <li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta 
    opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra. Tambi&eacute;n 
    debe presionar "Volver" cuando ya haya guardado los cambios y desee volver 
    a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra. </li>
</ul>


<h2>Administrar Link:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Link. Si usted no realiza este paso no podr&aacute; Administrar Links.</p>

<ul>
  <li>Link- Tipo - modif.: podr&aacute; realizar las modificaciones que considere necesarias 
    y luego presionar "Guardar Cambios" o si no desea guardar los cambios presione 
    "Volver".</li>

<li>Link- Tipo - Eliminar: marcar el cuadro del Link que desea eliminar (si son varios marque todos), y luego presione el bot&oacute;n "Eliminar".</li>

<li>Agregar nuevo Link: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de Alta Link y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>
	
  <li> Volver: presionar "Volver" cuando ya haya guardado los cambios y desee volver 
    a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.</li>
</ul>
</body>
</html>