<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>

<h1>Apuntes:</h1>
<h2>Alta Apuntes:</h2>
<p>Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente):</p> 
<img
src="imagenes/apunte_1.jpg">

 

<ul>
  <li>T&iacute;tulos: ingresar el t&iacute;tulo del apunte, no debe contener mas de 100 caracteres.</li>
  <li>Comentarios: ingresar los comentarios que considere necesarios para interpretar 
    el apunte.</li>
  <li>Archivo - Examinar: podr&aacute; vincular un archivo presionando la opci&oacute;n: "Examinar" 
    a trav&eacute;s de la cual se abrir&aacute; una nueva ventana donde usted deber&aacute; buscar 
    la ruta adecuada al archivo que quiere agregar. Luego debe presionar "Abrir".</li>
  <li>Aceptar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de la C&aacute;tedra.</li>
<li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.</li>
</ul>

<h2>
Administrar Apuntes:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Apunte. Si usted no realiza este paso no podr&aacute; Administrar Apuntes.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): 
</p>
<img 
src="imagenes/apunte_2.jpg">

 
<ul>
  <li>Apuntes - modif.: se abrir&aacute; una ventana semejante a la de alta pero con los 
    datos del apunte seleccionado, realice las modificaciones que considere necesarias 
    y luego puede presionar "Aceptar" para guardar los cambios si no desea guardar 
    los cambios presione "Volver".</li>  
  <li>Apuntes - Publicar: si desea que el apunte sea visible para los alumnos 
    marque la opcion <strong>Publicar</strong>, de lo contrario <strong>NO</strong> 
    marque esta opcion. La informaci&oacute;n permanecer&aacute; guardada para cuando desee 
    publicarla.</li>
  <li>Apuntes - Eliminar: marcar el cuadro del apunte que desea eliminar (si son 
    varios marque todos), y luego presione el bot&oacute;n "Eliminar"</li>
<li>Agregar otro Apunte: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de Alta Apunte y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>
  <li>Volver: presionar "Volver" cuando ya haya guardado los cambios y desee volver 
    a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.</li>
</ul>

</body>
</html>