<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Presentaci&oacute;n del men&uacute; principal.</h1>

<p>	Es la pantalla principal, desde donde se puede tener acceso a todos los m&oacute;dulos del sistema.</p>

 <img
src="imagenes/presentacion_1.jpg">


<p>	Aqu&iacute; debemos diferenciar  los m&oacute;dulos que tratan sobre contenidos generales de la c&aacute;tedra y m&oacute;dulos de contenido especial para cada comisi&oacute;n ya que los primeros pueden ser cargados en cualquier momento, en cambio que para poder cargar contenidos en los m&oacute;dulos de comisiones primero debe existir la comisi&oacute;n.</p>

<strong>Listado de m&oacute;dulos de contenido general de la c&aacute;tedra.</strong> 
<ul>
  <li>Objetivos y Plan de c&aacute;tedra.</li>
  <li>Integrantes de la c&aacute;tedra.</li>
  <li>Novedades.</li>
  <li>Horarios.</li>
  <li>Bibliograf&iacute;a.</li>
  <li>Links</li>
  <li>Apuntes.</li>
  <li>Repositorio</li>
  <li>Examen final.</li>
</ul>
<strong>Listado de m&oacute;dulos de contenido especial para cada comisi&oacute;n.</strong>
<ul>
<li>Comisiones.</li>
<li>Alumnos.</li>
<li>Examen Parcial.</li>
<li>Trabajo pr&aacute;ctico.</li>

</ul></body>
</html>
