<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="1">&nbsp;</td>
		  <td width="10">&nbsp;</td>
          <td height="100%" valign="top"> 
            <br>
            <h2>Apuntes</h2>
            <!-- BEGIN bloqueapunte -->
            <table width="90%" border="0" align="center" cellpadding="4" cellspacing="1">
              <tr> 
                <td width="17%">{fecha}</td>
                <td width="69%" align="center"> 
                  <div align="left"><strong>{titulo}</strong></div>
                </td>
                <td width="14%" align="center">{bajar}</td>
              </tr>
              <tr> 
                <td colspan="3">{descripcion}&nbsp;</td>
              </tr>
              <tr> 
                <th height="2" colspan="3" bgcolor="#CCCCCC"></th>
              </tr>
              <tr> 
                <td colspan="3">&nbsp;</td>
              </tr>
            </table>
            <br>
            <!-- END bloqueapunte -->
            <div align="center"> 
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </td>
		  <td width="10">&nbsp;</td>
        </tr>
      </table>