
<html>
<head>
<title>Ex&aacute;menes parciales</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="imagenes/estilos.css">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#000000" vlink="#000000" alink="#000000">

<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr> 
    <td colspan="2" height="2"> 
	<!-- BEGIN bloqueencabezado -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="36%" height="22" bgcolor="#88CC88"><font size="3" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;<font size="2"><strong>{materia}</strong></font></font></td>
          <td width="34%" height="22"><img src="imagenes/encabezado.gif" width="351" height="37"></td>
          <td width="30%" background="imagenes/fondo_celda_encabezado.gif" height="37">&nbsp;</td>
        </tr>
        <tr> 
          <td colspan="3" height="2"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="85%" bgcolor="#BBEEBB">&nbsp;{path} </td>
                <td width="15%"><img src="imagenes/final_celda_path.gif" width="20" height="20"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
	  <!-- END bloqueencabezado -->
    </td>
  </tr>
  <tr> 
    <td width="15%" background="imagenes/fondoclaro.gif" height="491" valign="top"> 
      <!-- BEGIN bloquemenu -->
      <br>
      <p>{link_novedades}</p>
      <p>{link_objetivos}</p>
      <p>{link_plan}</p>
      <p>{link_clases}</p>
      <p>{link_integrantes}</p>
      <p>{link_biblio}</p>
      <p>{link_apuntes}</p>
      <p>{link_repositorio}</p>
      <p>{link_tps}</p>
      <p>{link_parciales}</p>
      <p>{link_final}</p>
      <p>{link_link}</p>
      <p>{firma}</p>
	  <!-- END bloquemenu -->
      </td>
    <td width="85%" height="491"> 
      <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="1" background="imagenes/linea_lateral.gif">&nbsp;</td>
		  <td width="10">&nbsp;</td>
          <td height="100%" valign="top"> 
            <br>
            <h2>Ex&aacute;menes Parciales</h2>
<form name="form1" method="post" action="examenes_parciales.php?id_catedra={idc}">
  <p align="center">Comision: 
    <select name="id_comision" onChange="submit()">
      <option value=0>Seleccione la Comisión</option>
	  <!-- BEGIN bloquecomision -->
      <option value="{valoropcion}"{selected}>{nombreopcion}</option>
	  <!-- END bloquecomision -->
    </select>
  </p>
  <!-- BEGIN bloquecomentario1 -->
  <p align="center">{mensaje}</p>
  {comentario1}
  <!-- END bloquecomentario1 -->
              <table width="100%" border="1" align="center" cellpadding="4" cellspacing="1">
                <!-- BEGIN bloqueparcial -->
                <tr> 
                  <td width="47%"><b>{titulo}</b>{com}</td>
                  <td width="40%"><b>Fecha:</b> {fecha} <b>Hora: </b>{hora}</td>
                  <td width="13%">
                    <div align="center">{notas}</div>
                  </td>
  </tr>
  <!-- END bloqueparcial -->
</table>
<!-- BEGIN bloquecomentario2 -->
  {comentario2}
  <!-- END bloquecomentario2 -->
</form>
            <div align="center"> 
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </td>
		  <td width="10">&nbsp;</td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>

<table heigth="10" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr heigth="10"> 
    <td height="2" width="15%" background="imagenes/fondoclaro.gif"> 
      <div align="right"><img src="imagenes/menu_abj.gif" width="26" height="10"></div>
    </td>
    <td height="2" width="48%" background="imagenes/fondo_celda_inferior_centro.gif"></td>
    <td height="2" width="37%" background="imagenes/fondo_celda_inferior_derecha.gif"><img src="imagenes/abj01.gif" width="10" height="10"></td>
  </tr>
</table>
</body>
</html>