<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="1">&nbsp;</td>
		  <td width="10">&nbsp;</td>
          <td height="100%" valign="top"> 
            <br>
            <h2>Ex&aacute;menes Finales</h2>
            <p><br>
			<!-- BEGIN bloquefinal -->
              <table width="60%" border="0" align="center" cellpadding="4" cellspacing="1">
                <tr> 
                  <td width="82%"> 
                    <div align="left"><strong>{titulo}</strong>{com} </div>
                  </td>
                  <td width="18%">
                    <div align="center">{notas}</div>
                  </td>
                </tr>
                <tr> 
                  <td colspan="2"><b>Fecha:</b> {fecha} <b>Hora: </b>{hora}</td>
                </tr>
                <tr> 
                  <th height="2" colspan="2" bgcolor="#CCCCCC"></th>
                </tr>
                <tr> 
                  <td colspan="2">&nbsp;</td>
                </tr>
              </table>
			  <!-- END bloquefinal -->
           
            <div align="center"></div>
            <p align="center"><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </p>
</td>
<td width="10">&nbsp;</td>
        </tr>
      </table>