
<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="1">&nbsp;</td>
		  <td width="10">&nbsp;</td>
          <td height="100%" valign="top"> 
            <br>
            
              <h2>Links </h2>
              
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <!-- BEGIN bloquelink -->
              <tr> 
                <td>{link}</td>
              </tr>
              <!-- END bloquelink -->
              <tr> 
                <td><br></td>
              </tr>
              <tr>
                <th height="1" bgcolor="#CCCCCC"></th>
              </tr>
            </table>

            <p>&nbsp;</p>
            <div align="center"> </div>
            <p align="center"><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </p>
            </td>
			<td width="10">&nbsp;</td>
        </tr>
      </table>