<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
  <tr> 
    <td width="1">&nbsp;</td>
    <td width="10">&nbsp;</td>
    <td height="100%" valign="top"> <p align="center">&nbsp;</p>
      <!-- BEGIN bloquetitulo -->
      <p align="center">Bienvenido al sitio web de {materia}</p>
      <h2>{tit}</h2>
      <!-- END bloquetitulo -->
      <!-- BEGIN bloquecomentario1 -->
      {coment1} 
      <!-- END bloquecomentario1 -->
      <!-- BEGIN bloquenovedad -->
      <table width="60%" border="0" align="center" cellpadding="4" cellspacing="1">
        <tr> 
          <td width="17%">{fecha}</td>
          <td width="83%" align="center"><div align="left"><strong>{titulo}</strong></div></td>
        </tr>
        <tr> 
          <td colspan="2">{contenido}&nbsp;</td>
        </tr>
        <tr> 
          <th height="2" colspan="2" bgcolor="#CCCCCC"></th>
        </tr>
        <tr> 
          <td colspan="2"></td>
        </tr>
      </table>
      <br> 
      <!-- END bloquenovedad -->
      <!-- BEGIN bloquecomentario2 -->
      {coment2} 
      <!-- END bloquecomentario2 -->
      <div align="center"> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div></td>
    <td width="10">&nbsp;</td>
  </tr>
</table>
