
<html>
<head>
<title>Trabajo pr&aacute;ctico</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="imagenes/estilos.css">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#000000" vlink="#000000" alink="#000000">

<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr> 
    <td colspan="2" height="2"> 

<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="1">&nbsp;</td>
		  <td width="10">&nbsp;</td>
          <td height="100%" valign="top"> 
              <!-- BEGIN bloque2 -->
              <br>
              
            <h2>Trabajo pr&aacute;ctico</h2>

            <p align="center"><strong>{titulo}</strong></p>
            <p align="center">Fecha de entrega: {fecha_entrega}&nbsp;{hora}</p>
            <p align="center">{descrip}</p>
            <p align="center">{bajar}</p>
            <p align="center">{comentario_notas}</p>
            <p align="center">{notas}</p>
            <!-- END bloque2 -->
<div align="center"> 
              <br>
              <!-- BEGIN bloque -->
              <form name="form1" method="post" action="index.php?id_catedra={idc}&ver=trabajos_practicos.php&id_comision={idcomision}">
                <input type="submit" name="Volver" value="Volver">
              </form>
              <!-- END bloque -->
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </td>
		  <td width="10">&nbsp;</td>
        </tr>
      </table>

	</td>
  </tr>
</table>
</body>
</html>