
<html>
<head>
<title>Notas de parciales</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="imagenes/estilos.css">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#000000" vlink="#000000" alink="#000000">
<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="1">&nbsp;</td>
		  <td width="10">&nbsp;</td>
          <td height="100%" valign="top"> 
              <!-- BEGIN bloque2 -->
              <br>
              <h2>Notas de parciales</h2>

            <p align="center">{titulo}<br>
              {fecha}</p>
            <p align="center">Comentario:{comentario2} </p>
            <!-- END bloque2 -->
            <table width="80%" border="0" align="center" cellpadding="4" cellspacing="1">
              <tr bgcolor="#CCCCCC"> 
                <td width="14%"><strong>LU</strong></td>
                 <td width="12%"> <div align="center"><strong>Nota</strong></div></td>
                <td width="58%"><strong>Comentario</strong></td>
              </tr>
              <!-- BEGIN bloquealumno -->
              <tr> 
                <td>{lu}</td>
                <td> <div align="center">{nota}</div></td>
                <td>{comentario}</td>
              </tr>
              <tr> 
                <th bgcolor="#CCCCCC" height="1" colspan="4"></th>
              </tr>
              <!-- END bloquealumno -->
            </table>
<div align="center"> 
              <br>
              <!-- BEGIN bloque -->
              <form name="form1" method="post" action="index.php?ver=examenes_parciales.php&id_catedra={idc}&id_comision={idcomision}">
                <input type="submit" name="Volver" value="Volver">
              </form>
              <!-- END bloque -->
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </td>
		  <td width="10">&nbsp;</td>
        </tr>
      </table>
<table heigth="10" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr heigth="10"> 
    <td height="2" width="15%" background="imagenes/fondoclaro.gif"> 
      <div align="right"><img src="imagenes/menu_abj.gif" width="26" height="10"></div>
    </td>
    <td height="2" width="48%" background="imagenes/fondo_celda_inferior_centro.gif"></td>
    <td height="2" width="37%" background="imagenes/fondo_celda_inferior_derecha.gif"><img src="imagenes/abj01.gif" width="9" height="10"></td>
  </tr>
</table>
</body>
</html>