<html>
<head>
<title>MaTero - Admin</title>
<link rel="stylesheet" href="../estilos/admin.css" type="text/css">
</head>           
<body>
<br>
<!-- BEGIN bloque -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr>
    <td>
      <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="mensaje">
        <tr>
          <td class="mensaje">
            <div align="center">{mensaje} </div>
          </td>
        </tr>
      </table>
      <div align="right"></div>
      <form ENCTYPE="multipart/form-data" name="form1" method="post" action="apunte_hacer_alta.php">
        <table width="480"  cellspacing="2" align="center">
          <tr class="cat_tabla_titulo">
            <td  colspan="2"  align="center"> <strong>Alta de Apuntes</strong></td>
          </tr>
          <tr>
            <td class=cat_tabla_cuerpo > <table width="100%"  >
                <tr  >
                  <td class=cat_tabla_cuerpo>T&iacute;tulo:</td>
                  <td class=cat_tabla_cuerpo><input name="vf_titulo" type="text" id="vf_titulo" value="{titulo}" size="60" maxlength="250"></td>
                </tr>
                <tr class=cat_tabla_cuerpo >
                  <td>Comentarios:</td>
                  <td><textarea name="vf_comentario" cols="58" rows="3" id="vf_comentario">{comentario}</textarea></td>
                </tr>
                <tr class=cat_tabla_cuerpo >
                  <td>Archivo</td>
                  <td><input name="vf_archivo" type="file" id="vf_archivo" class="boton"></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td class="firma" height="18"> <div align="center">
                <input type="submit" class="boton" name="Submit" value="Aceptar">
                &nbsp;&nbsp;
                <input name="vf_volver" type="submit" class="boton" id="vf_volver2" value="Volver">
                <input name="vf_archivo_anterior" type="hidden" id="vf_archivo_anterior" value="{archivo_anterior}">
                <input name="vf_menu" type="hidden" id="vf_menu" value="{menu}">
                <input name="vf_donde_redirigir" type="hidden" id="vf_donde_redirigir" value="apuntes_listado.php?">
              </div></td>
          </tr>
          <tr>
            <td class="firma" height="18"> <div align="center">{firma}</div></td>
          </tr>
        </table>
        <br>
      </form>
    </td>
  </tr>
</table>
<!-- END bloque-->
</body>
</html>