<html>
<head>
<title>MaTero - Alta de ex&aacute;men parcial</title>
<link rel="stylesheet" href="../estilos/admin.css" type="text/css">
<script src="../includes/validacion.js" type="text/javascript" language="javascript"></script>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
</head>
<body>
<table width="100%" border="0" height="100%">
  <tr> 
    <td> 
      <form ENCTYPE="multipart/form-data" name="form1" method="post" action="tp_eliminar.php">
        <table width="70%" border="0" align="center" class="mensaje">
          <tr>
            <td>
              <div align="center">{mensaje}</div>
            </td>
          </tr>
        </table>
        <table width="600" align="center" cellspacing="2">
          <tr> 
            <td class="cat_tabla_titulo"> <div align="center"><b>Administrar Trabajos 
                Pr&aacute;cticos</b></div></td>
          </tr>
          <tr> 
            <td height="0" nowrap class="cat_tabla_cuerpo"> 
              <table width="100%" border="0">
                <tr>
                  <td><select class="lista_desplegable_comision" name="menu1" onChange="MM_jumpMenu('parent',this,0)">
                           {ocultar_listado} 
                            
                <!-- BEGIN bloque_listado_comisiones -->
                <option value="tp_administrar.php?PHPSESSID={sesion}&vf_id_comision={id_comision_list}" {selected_comision}>{nombre_comision}</option>
                <!-- END bloque_listado_comisiones -->
							{ocultar_listado1}
                     </select></td>
                  <td>{paginado}</td>
                </tr>
              </table> </td>
          </tr>
          <tr class="cat_tabla_cuerpo"> 
            <td align="center" valign="middle"> <table width="100%" height="100" border="0" cellpadding="0" cellspacing="0">
                <tr class="cat_tabla_cuerpo"> 
                  <td width="102"> <div align="center"><strong><a href="tp_administrar.php?ord={ord}&ordenar=fecha_entrega&vf_id_comision={idc}">F. 
                      Entrega</a></strong></div></td>
                  <td width="220"> <div align="center"><strong>nombre tp</strong></div></td>
                  <td width="50"> <div align="center"><strong>Notas</strong></div></td>
                  <td width="83"> <div align="center"><strong>Modificar</strong></div></td>
                  <td width="74"> <div align="center"><strong>Eliminar</strong></div></td>
                </tr>
                <!-- BEGIN bloque_tp -->
                {bloque} 
                <!-- END bloque_tp -->
                {ocultar_botones} 
                <tr class="cat_tabla_cuerpo"> 
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><div align="center"> 
                      <input name="vf_elim" type="submit" value="Elim" class="boton" onclick="javascript:return confirmar_eliminar_boton('this','Estás seguro que quieres eliminar trabajos prácticos de la comisión?');">
                    </div></td>
                </tr>
                {ocultar_botones1} </table></td>
          </tr>
          <tr class="cat_tabla_cuerpo"> 
            <td align="center"><div align="center"> 
                <input type="submit" value="Volver" name="vf_redirigir" class="boton">
                <input type="hidden" name="vf_donde_redirigir" value="menu.php?">
                <input name="vf_id_comision" type="hidden" id="vf_id_comision" value="{idc}">
              </div></td>
          </tr>
          <tr class="cat_tabla_cuerpo"> 
            <td> <div align="center">{firma} </div></td>
          </tr>
        </table>
        <p align="center">&nbsp;</p>
      </form>
      <p><font face="Arial, Helvetica, sans-serif" size="2"> </font></p>
    </td>
  </tr>
</table>
    
</body>
</html>