<html>
<head>
<title>MaTero - Alta Tipo de Bibliograf&iacute;a</title>
<link rel="stylesheet" href="../estilos/administrador.css" type="text/css">
</head>
<body>
<br>
<table width="100%" border="0" height="100%">
  <tr> 
    <td> 
      <!-- BEGIN datos -->
      <form name="form1" method="post" action="biblio_tipo_hacer_alta.php">
        <table width="70%" border="0" align="center" class="mensaje">
          <tr>
            <td>
              <div align="center">{mensaje}</div>
            </td>
          </tr>
        </table>
        <table width="51%" height="193" align="center" cellspacing="2">
          <tr> 
            <td class="tabla_titulo"> <div align="center"><font size="2" face="Arial, Helvetica, sans-serif"><b>Alta 
                de Tipo de bibliograf&igrave;a</b></font></div></td>
          </tr>
          <tr class="tabla_cuerpo"> 
            <td align="center" valign="middle"> 
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tabla_cuerpo">
                <tr> 
                  <td width="30%"> 
                    <div align="center"><b>Nombre:</b></div></td>
                  <td width="70%"> <div align="left"> 
                      <input name="vf_nombre" type="text" class="campo_texto" id="vf_nombre" value="{nombre}" size="30" maxlength="80">
                    </div></td>
                </tr>
                <tr> 
                  <td> 
                    <div align="center"><b>Descripci&oacute;n:</b></div></td>
                  <td width="70%"> <div align="left"> 
                      <input name="vf_descri" type="text" class="campo_texto" id="vf_descri" value="{descri}" size="30" maxlength="80">
                    </div></td>
                </tr>
                <tr> 
                  <td height="5" nowrap></td>
                  <td height="5" nowrap></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="tabla_cuerpo"> 
            <td align="center"><input name="guardar" type="submit" class="boton" id="guardar" value="Aceptar"> 
              <input name="otro" type="submit" class="boton" id="otro2" value="Guardar y Cargar Otro"> 
              <input name="vf_volver" type="submit" class="boton" id="vf_volver" value="Volver"> 
              <input type="hidden" name="vf_donde_redirigir" value="biblio_tipo_listado.php?"> 
              <input name="vf_menu" type="hidden" id="vf_menu" value="{menu}">
            </td>
          </tr>
          <tr class="tabla_cuerpo"> 
            <td> <div align="center">{firma} </div></td>
          </tr>
        </table>
        <p align="center">&nbsp;</p>
      </form>
      <p><font face="Arial, Helvetica, sans-serif" size="2"> </font></p>
    </td>
  </tr>
</table>
      <!-- END datos -->
       
    </body>
</html>