<html>
<head>
<title>MaTero - Modificar Comisi&oacute;n</title>
<link rel="stylesheet" href="../estilos/admin.css" type="text/css">
</head>
<body>
<br>
<table width="100%" border="0" height="100%">
  <tr> 
    <td> <br>
      <!-- BEGIN datos -->
      <form name="form1" method="post" action="comision_hacer_modificar.php">
        <table width="70%" border="0" align="center" class="mensaje">
          <tr>
            <td>
              <div align="center">{mensaje}</div>
            </td>
          </tr>
        </table>
        <table width="350" height="150" align="center" cellspacing="2">
          <tr> 
            <td class="cat_tabla_titulo"> <div align="center"><font size="2" face="Arial, Helvetica, sans-serif"><b>Modificar 
                Comisi&oacute;n</b></font></div></td>
          </tr>
          <tr class="cat_tabla_cuerpo"> 
            <td height="116" align="center" valign="middle"> 
              <table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="cat_tabla_cuerpo">
                <tr> 
                  <td width="30%"><div align="center"><b>Nombre:</b></div></td>
                  <td width="70%"> <div align="left"> 
                      <input type="text" name="vf_comision" maxlength="80" size="30" value="{nombre}" class="campo_texto">
                    </div></td>
                </tr>
                <tr> 
                  <td height="41">
<div align="center"><strong>fecha alta:</strong></div></td>
                  <td width="70%"> <div align="left">{fecha_alta}</div></td>
                </tr>
                <tr> 
                  <td height="5" nowrap></td>
                  <td height="5" nowrap></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="cat_tabla_cuerpo">
            <td align="center"><input name="otro" type="submit" class="boton" id="otro" value="Guardar">
              <input type="submit" value="Volver" name="vf_redirigir" class="boton"> 
              <input type="hidden" name="vf_donde_redirigir" value="comision_administrar.php?"> 
              <input type="hidden" name="vf_idc" value="{id_comision}"> 			  
               </td>
          </tr>
          <tr class="cat_tabla_cuerpo"> 
            <td> 
              <div align="center">{firma} </div> </td>
          </tr>
        </table>
        <p align="center">&nbsp;</p>
      </form>
      <p><font face="Arial, Helvetica, sans-serif" size="2"> </font></p>
    </td>
  </tr>
</table>
      <!-- END datos -->
       
    </body>
</html>