<!-- BEGIN datos -->
<html>
<head>
<title>Modificaci&oacute;n de Password de Usuario</title>

<link rel="stylesheet" href="../estilos/admin.css" type="text/css">
</head>
<body>
<br>
<table width="100%" border="0" height="100%" align="center">
  <tr> 
    <td><br>
      <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="mensaje">
        <tr> 
          <td class="mensaje"> 
            <div align="center">{mensaje} </div>
          </td>
        </tr>
      </table>
      <br>
      <table width="80%" border="0" align="center">
        <tr> 
          <td> <div align="center">
              <table width="80%" border="0">
                <tr class="cat_tabla_titulo">
                  <td><div align="center"><strong>Modificaci&oacute;n de Contrase&ntilde;a 
                      de Usuario</strong> </div></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        <tr> 
          <td> <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cat_tabla_cuerpo" align="center">
              <tr align="left" valign="top"> 
                <td height="80"> <div align="center"> 
                    <form name="form1" method="post" action="pass_hacer_modif.php">
                      <table width="38%" border="0" class="tabla_cuerpo">
                        <tr class=cat_tabla_cuerpo> 
                          <td width="67%">Contrase&ntilde;a Actual:</td>
                          <td width="33%"> <input name="vf_passactual" type="password" class="campo_texto" id="vf_passactual" value="{vf_passactual}" size="15" maxlength="60"> 
                          </td>
                        </tr>
                        <tr class=cat_tabla_cuerpo> 
                          <td width="67%">Contrase&ntilde;a Nueva:</td>
                          <td width="33%"> <input type="password" name="vf_passnueva" maxlength="60" size="15" value="{vf_passnueva}" class="campo_texto"> 
                          </td>
                        </tr>
                        <tr class=cat_tabla_cuerpo> 
                          <td width="67%">Confirmaci&oacute;n:</td>
                          <td width="33%"> <input type="password" name="vf_confirmacion" maxlength="60" size="15" value="{vf_confirmacion}" class="campo_texto"> 
                          </td>
                        </tr>
                      </table>
                      * la contrase&ntilde;a debe tener 6 caracteres como m&iacute;nimo<br>
                      <p> 
                        <input type="submit" value="Modificar" name="modificar" class="boton">
                        <input name="vf_volver" type="submit" class="boton" id="vf_volver" value="Volver">
                        <input type="hidden" name="vf_donde_redirigir" value="usuarios_administrador.php?">
                        <input type="hidden" name="idu" value="{idu}">
                      </p>
                    </form>
                  </div>
                  <p><font face="Arial, Helvetica, sans-serif" size="2"> </font></p></td>
              </tr>
            </table>
            <!-- END datos -->
          </td>
        </tr>
        <tr> 
          <td> <table width="80%" align="center" class="firma">
              <tr> 
                <td > <div align="center"> {firma}</div></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <div align="center"></div>
    </td>
  </tr>
</table>
</body>
</html>

