<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Consideraciones Especiales:</h1>

<p><strong>Tama&ntilde;o de los archivos:</strong> el sistema actualmente no permite subir archivos con mas de 3 MB  de peso. Debe tener en cuenta que cuanto mas pesado es el archivo, m&aacute;s demorar&aacute; en subirlo al servidor, y m&aacute;s demorar&aacute;n los alumnos en el caso de que necesiten bajarlo.</p>

<p><strong>Formato de los archivos:</strong> puede subir cualquier tipo de archivo, 
  pero se recomienda que sean comprimidos con zip ya que disminuye el peso y acelera 
  la descarga del mismo</p>
<p><strong>Publicar: </strong>esta facilidad del sistema le permite hacer visible 
  o no la informaci&oacute;n de alg&uacute;n m&oacute;dulo determinado. La ventaja 
  de esta opci&oacute;n es por ejemplo subir de antemano archivos de la catedra 
  (apuntes, TP's, examenes) y mostrarlos en el momento que se considere adecuado, 
  mantener informaci&oacute;n hist&oacute;rica de comisiones, etc.</p>
<p><strong>Dudas:</strong> puede realizar consultas a nuestra direcci&oacute;n 
  de mail <a href="mailto:sistema_matero@yahoo.com">sistema_matero@yahoo.com</a>.</p>

<p>No abusar de los colores en los editores de texto (para los modulos de plan 
  de c&aacute;tedra, objetivos y horarios): si bien esta herramienta le permitir&aacute; 
  enriquecer el conenido, le recomendamos que no se aleje demasiado del dise&ntilde;o 
  preestablecido</p>

</body>
</html>
