<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>AYUDA DEL SISTEMA DE ADMINISTRACION DE CONTENIDOS DE CATEDRAS: MATERO</h1>

<p><strong>MATERO</strong> es un sistema que facilita la administracion de los 
  contenidos de su c&aacute;tedra para obtener un su sitio web de una forma simple, 
  f&aacute;cil, sin necesidad de tener conocimientos previos en lenguajes de programaci&oacute;n 
  ni preocuparse por el diseno gr&aacute;fico.</p>

<p><strong>MATERO </strong>posibilita que TODAS las catedras puedan tener su sitio, 
  para que los ALUMNOS puedan consultar informacion de utilidad en cualquier momento 
  y para unificar criterios de diseno entre todos los sitios de las catedras pertenecientes 
  a la facultad. </p>
<p>Para utilizar este sistema solo necesita una PC con acceso a Internet, o sea 
  que puede utilizarlo desde su ambito de trabajo, un locutorio o su casa. Para 
  esto, antes debe solicitar la creaci&oacute;n de su cuenta de usuario al administrador 
  de MATERO. Se aconseja tener un solo usuario encargado por catedra.</p>
<p>&nbsp;</p>
</body>
</html>
