<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>

<h1>Bibliograf&iacute;a:</h1>
<p>	El primer paso debe ser dar de Alta un Tipo de Bibliograf&iacute;a. Si usted no realiza este paso no podr&aacute; dar de Alta Bibliograf&iacute;a.</p>
<h2>Alta Tipo Bibliograf&iacute;a:</h2>
<p>Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente):</p>

<img 
src="imagenes/biblio_1.jpg">

<ul>
<li>Nombre: ingresar el Nombre del Tipo de Bibliograf&iacute;a.</li>

<li>Descripci&oacute;n: ingresar la Descripci&oacute;n del Tipo de Bibliograf&iacute;a.</li>

  <li>Aceptar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de la C&aacute;tedra.</li>

  <li>Guardar y Cargar Otro: para cargar varios tipos de bibliograf&iacute;a de una sola 
    vez use esta opci&oacute;n. Luego de cargar todos los tipos presione "Aceptar".</li>
<li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li></ul>

<h2>Administrar Tipo Bibliograf&iacute;a:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Tipo Bibliograf&iacute;a. Si usted no realiza este paso no podr&aacute; Administrar Tipo Bibliograf&iacute;a.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente):
</p>
<img 
src="imagenes/biblio_2.jpg">

<ul>
<li>Tipos de Bibliograf&iacute;a - modif.: se abrir&aacute; la ventana mostrada el la siguiente imagen:
donde usted podr&aacute; realizar las modificaciones que considere necesarias y luego presionar "Guardar Cambios" o si no desea guardar los cambios presione "Volver".
</li>

<li>Tipos de Bibliograf&iacute;a - Eliminar: marcar el cuadro del Tipo de Bibliograf&iacute;a que desea eliminar (si son varios marque todos), y luego presione el bot&oacute;n "Eliminar".</li>

<li>Agregar nuevo Tipo: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de Alta Tipo Bibliograf&iacute;a y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>
	
<li>Volver: presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li>
</ul>
<img 
src="imagenes/biblio_3.jpg">

<h2>Alta Bibliograf&iacute;a:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Tipo de Bibliograf&iacute;a. Si usted no realiza este paso no podr&aacute; dar de Alta Bibliograf&iacute;a.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): 
</p>
<img src="imagenes/biblio_4.jpg">
<ul>
<li>Seleccione Tipo de Bibliograf&iacute;a: elegir una de las opciones del men&uacute; desplegable. Dichas opciones son las ingresadas en la secci&oacute;n anterior de Alta Tipo Bibliograf&iacute;a. Las opciones que se ven en la imagen son a modo ilustrativo.</li>

<li>Nombre: ingresar el Nombre de la Bibliograf&iacute;a.</li>

<li>Descripci&oacute;n: ingresar la Descripci&oacute;n de la Bibliograf&iacute;a.</li>

  <li>Aceptar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de la C&aacute;tedra.</li>

  <li>Guardar y Cargar Otro: para cargar varias bibliograf&iacute;as de una sola vez use 
    esta opci&oacute;n. Luego de cargar todos los tipos presione "Aceptar".</li>
  <li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta 
    opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.</li>
</ul>

<h2>Administrar Bibliograf&iacute;a:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta una Bibliograf&iacute;a. Si usted no realiza este paso no podr&aacute; Administrar Bibliograf&iacute;a.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente):
</p>
<img 
src="imagenes/biblio_5.jpg">

<ul>
  <li>Bibliograf&iacute;a- Tipo - modif.: podr&aacute; realizar las modificaciones que considere 
    necesarias y luego presionar "Guardar Cambios" o si no desea guardar los cambios 
    presione "Volver".</li>

<li>Bibliograf&iacute;a- Tipo - Eliminar: marcar el cuadro de la Bibliograf&iacute;a que desea eliminar (si son varias marque todas), y luego presione el bot&oacute;n "Eliminar".</li>

<li>Agregar nueva Biblio: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de Alta Bibliograf&iacute;a y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>

<li>Volver: presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li></ul>
</body>
</html>