<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Integrantes de la C&aacute;tedra:</h1>
<h2>Alta Integrante:</h2>
<p>Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): </p>
<img
src="imagenes/integrante_1.jpg">

 
<ul>
<li>Apellido: ingresar el Apellido del nuevo integrante de la C&aacute;tedra.</li>
<li>Nombre: ingresar el Nombre del nuevo integrante de la C&aacute;tedra.</li>
<li>Cargo: ingresar el cargo que va  a ocupar el nuevo integrante de la c&aacute;tedra.</li>
<li>E-mail: ingresar el e-mail del nuevo integrante de la c&aacute;tedra.</li>
  <li>Aceptar: guarda o graba los datos ingresados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de Integrantes de la C&aacute;tedra.</li>
  <li>Guardar y Cargar Otro: si desea cargar otro integrante use esta opci&oacute;n (el 
    integrante se guardara y los campos apareceran vacios). Luego de cargarlos 
    a todos presione "Aceptar".</li>
  <li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta 
    opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.</li>
</ul>


<h2>Administrar Integrantes:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Integrante. Si usted no realiza este paso no podr&aacute; Administrar Integrantes.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n :
</p> 
<img 
src="imagenes/integrante_2.jpg">

 
<ul>
  <li>Integrantes - modif.: se abrir&aacute; una ventana similar a la del alta de integrante 
    pero con los datos cargados de la persona que seleccion&oacute;. All&iacute; podra realizar 
    las modificaciones que crea necesarias.</li>
  <li>Integrantes - Pos.: permite llevar un &oacute;rden de posicionamiento dentro de 
    la c&aacute;tedra, el numero mas bajo se mostrara mas arriba (Ej: el titular pos. 
    0 y el auxiliar pos. 1). Deber&aacute; ingresar en el recuadro el n&uacute;mero de la posici&oacute;n 
    y luego presionar "Actualizar" para guardas los cambios realizados.</li>
  <li>Integrantes - Eliminar: marcar el cuadro del Integrante que desea eliminar 
    (si son varios marque todos), y luego presione el bot&oacute;n "Eliminar".</li>
  <li>Agregar otro Integrante: se abrir&aacute; la misma ventana que la mostrada en la 
    secci&oacute;n de Alta Integrante y usted podr&aacute; realizar las mismas acciones que 
    las enunciadas all&iacute;.</li>
  <li>Volver: presionar "Volver" cuando ya haya guardado los cambios y desee volver 
    a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra. Tambi&eacute;n debe presionar 
    "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal 
    de Administraci&oacute;n de la C&aacute;tedra. </li>
</ul>
</body>
</html>