<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Alumnos</h1>
<h2>Alta de Alumnos:</h2>
<p>Con este m&oacute;dulo se podran agregar o quitar alumnos a una determinada 
  comisi&oacute;n. <br>
  Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; 
  a continuaci&oacute;n (ver gr&aacute;fico siguiente):</p>
<img src="imagenes/alumnos_1.jpg">

<ul  type=disc>
  <li>Comisi&oacute;n : elegir la comisi&oacute;n en la que desea ingresar al alumno. 
    Dichas opciones son las ingresadas en el m&oacute;dulo de comisi&oacute;n.</li>
  <li> LU: ingresar la Libreta Universitaria del alumno que desea dar de alta.</li>
  <li> E- mail : ingresar el e-mail del nuevo alumno de la c&aacute;tedra. (opcional)</li>
  <li> Guardar: guarda o graba los cambios realizados y muestra una nueva ventana 
    donde se puede confirmar los datos del alumno presionando "Guardar".</li>
  <li> Volver: Si usted no desea guardar los cambios presione "Volver", con esta 
    opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.</li>
</ul>



<h2>Administrar Alumnos:</h2>

<p>Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un
formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente):</p>

<img 
src="imagenes/alumnos_2.jpg">



<ul><li>Alumnos LU: si presiona una vez ordenar&aacute; en forma creciente por Libreta Universitaria los alumnos. Si presiona dos veces ordenar&aacute; en forma decreciente por LU  los alumnos, (el ordenamiento del listado general, no es por p&aacute;gina).</li>
<li>Alumnos Apellido: si presiona una vez ordenar&aacute; en forma creciente por Apellido los alumnos. Si presiona dos veces ordenar&aacute; en forma decreciente por Apellido  los alumnos, (el ordenamiento del listado general, no es por p&aacute;gina).</li>
  <li>Comisiones: : elegir una de las opciones del men&uacute; desplegable. Elija la 
    correspondiente a los alumnos que desee administrar.</li>
<li>Alumno - Actualizar E-mail: ingrese en el recuadro el e-mail correspondiente a ese alumno y luego presionar "Actualizar E-mail's". Si el procedimiento fue realizado con &eacute;xito el siguiente mensaje aparecer&aacute; en la parte superior de su pantalla "Se actualizaron exitosamente los e-mails de los alumnos".</li>
<li>Alumno - Eliminar: marcar el cuadro del Alumno que desea eliminar (si son varios marque todos), y luego presione el bot&oacute;n "Elim". Si el procedimiento fue realizado con &eacute;xito el siguiente mensaje aparecer&aacute; en la parte superior de su pantalla "Eliminaci&oacute;n exitosa".</li>
<li>Paginado >  >>: permite navegar de una p&aacute;gina a otra viendo un m&aacute;ximo de 'n' alumnos en cada p&aacute;gina.</li>
<li>Vista Impresi&oacute;n:  es una vista previa de impresi&oacute;n.</li>
<li>Volver:  presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.</li>
</ul>	


</body>
</html>



	 