<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Examen final.</h1>
<h2>Alta de Ex&aacute;men:</h2>
<p>Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): </p>
<img 
src="imagenes/final_1.jpg">

<ul>
<li>T&iacute;tulo: ingresar el  T&iacute;tulo del Ex&aacute;men Final.</li>

<li>Comentarios de Notas: ingresar los comentarios que considere necesarios para interpretar las notas del ex&aacute;men.</li>

<li>D&iacute;a: ingresar el d&iacute;a, el mes y el a&ntilde;o de toma del ex&aacute;men. Para ello usted dispone de un calendario de ayuda. </li>
	
<li>Hora: ingresar la hora de inicio del ex&aacute;men. </li>

  <li>Aceptar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de la C&aacute;tedra.</li>

<li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li></ul>

<h2>Administrar Ex&aacute;menes:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Ex&aacute;men. Si usted no realiza este paso no podr&aacute; Administrar Ex&aacute;menes.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): 
</p>

<img 
src="imagenes/final_2.jpg">

<ul>
<li>Ex&aacute;menes - Fecha: si presiona una vez ordenar&aacute; en forma creciente por fecha los ex&aacute;menes. Si presiona dos veces ordenar&aacute; en forma decreciente por fecha los ex&aacute;menes, (el ordenamiento del listado general, no es por p&aacute;gina).</li>

<li>Ex&aacute;menes - administrar: Se abrir&aacute; una ventana como la mostrada a continuaci&oacute;n   donde usted podr&aacute;:</li>
<img 
src="imagenes/final_3.jpg">
<ul>
<li>Agregar otro alumno: el primer paso debe ser dar de alta alumnos, para ello presionar "Agregar otro alumno" y se mostrar&aacute; la siguiente imagen  
 donde usted:
</li>
<img 
src="imagenes/final_4.jpg">
<ul>
<li>Deber&aacute; ingresar en el recuadro el n&uacute;mero de la libreta del alumno que rinde el ex&aacute;men (s&oacute;lo los 5 n&uacute;meros centrales) y </li>
<li>Deber&aacute; presionar "Guardar" para que el alumno quede registrado en el ex&aacute;men. Con esta opci&oacute;n se abrir&aacute; otra ventana donde aparecer&aacute;n los datos del alumno que usted ingres&oacute; eln&uacute;mero de libreta para que pueda comprobar que es correcto, de ser as&iacute; presionar "Guardar" y en caso contrario presionar "Volver".</li>
<li>O deber&aacute; presionar "Volver" si no desea que el alumno quede registrado para el ex&aacute;men y volver al Listado de alumnos del examen.</li>
</ul>
Si no tiene alumnos agregados se mostrar&aacute; el siguiente mensaje en la parte superior de su pantalla "No hay alumnos cargados" .
    <li>Elim.: Eliminar el alumno marcado en el recuadro.</li>
<li>Volver: para ir a la p&aacute;gina principal de Administrar Ex&aacute;menes.</li>
<li>Vista de impresi&oacute;n: para obtener una vista preliminar de impresi&oacute;n.</li>
</ul>

<li>Ex&aacute;menes - notas: se abrir&aacute; la ventana mostrada el la siguiente imagen  donde usted podr&aacute;:</li>
<img 
src="imagenes/final_5.jpg">
<ul>
<li>Nota: aqu&iacute; deber&aacute; ingresar la nota del ex&aacute;men en el casillero correspondiente a cada alumno.</li>
<li>Comentarios: aqu&iacute; podr&aacute; ingresar los comentarios a cada ex&aacute;men.</li>
<li>Actualizar Notas: deber&aacute; presionar este bot&oacute;n si desea guardar las notas ingresdas.</li>
<li>Volver: Si no desea guardar las notas presione este bot&oacute;n, lo mismo si desea volver al a p&aacute;gina principal de Administrar Examenes. </li>
<li>Vista de impresi&oacute;n: para obtener una vista preliminar de impresi&oacute;n.</li>
</ul>
<li>Ex&aacute;menes - modif: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de Alta Ex&aacute;menes y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>

<li>Ex&aacute;menes - Eliminar: marcar el cuadro del Ex&aacute;men que desea eliminar (si son varios marque todos), y luego presione el bot&oacute;n "Eliminar". Si el procedimiento fue realizado con &eacute;xito el siguiente mensaje aparecer&aacute; en la parte superior de su pantalla "Eliminaci&oacute;n exitosa".</li>

<li>Agregar otro Ex&aacute;men: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de Alta de Ex&aacute;men y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>
	
<li>Volver:  presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li></ul>

</body>
</html>