<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Examen Parcial.</h1>
<h2>Alta Ex&aacute;menes:</h2>
<p>	Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): </p>
<img
src="imagenes/parcial_1.jpg">
<ul>
<li>Nombre del Ex&aacute;men: ingresar el  T&iacute;tulo del Ex&aacute;men Parcial.</li>

<li> Publicar Examen: marcar el cuadro del Ex&aacute;men Parcial si desea publicarlo. Por defecto esta opci&oacute;n aparecer&aacute; marcada pero si usted no desea publicar el examen en este momento debe sacar la marca y presionar Guardar.</li>

<li>Breve Descripci&oacute;n: ingresar la descripci&oacute;n del Ex&aacute;men Parcial.(opcional)</li>
 
<li>Seleccione la/s comisiones: deber&aacute; seleccionar las comisiones a las cuales se le tomar&aacute; el ex&aacute;men parcial. Si quiere seleccionar m&aacute;s de una comisi&oacute;n mantenga presionada la tecla CONTROL (CTRL) y cliquee las comisiones que desee.</li>

<li>Fecha y hora del Ex&aacute;men: ingresar el d&iacute;a, el mes , el a&ntilde;o y la hora del ex&aacute;men parcial. Para ello usted dispone de un calendario de ayuda. </li>
	
<li>Comentario para el listado de notas: ingresar los comentarios que considere necesarios para interpretar las notas del ex&aacute;men parcial.</li>
	
  <li>Guardar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de los Parciales.</li>
	

<li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
</li></ul>

<h2>Administrar Ex&aacute;menes:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un Ex&aacute;men Parcial. Si usted no realiza este paso no podr&aacute; Administrar Ex&aacute;menes.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente):
</p>
<img
src="imagenes/parcial_2.jpg">

<ul>
  <li>Comisi&oacute;n: elegir una de las opciones del men&uacute; desplegable de las comisiones 
    ingresadas para el ex&aacute;men parcial que esta administrando.</li>
  <li>Fecha: si presiona una vez ordenar&aacute; en forma creciente por fecha los ex&aacute;menes. 
    Si presiona otra vez ordenar&aacute; en forma decreciente por fecha los ex&aacute;menes, 
    (el ordenamiento del listado general, no es por p&aacute;gina).</li>
  <li>Parcial: si presiona una vez ordenar&aacute; en forma creciente por abecedario 
    los ex&aacute;menes. Si presiona otra vez ordenar&aacute; en forma decreciente por abecedario 
    los ex&aacute;menes, (el ordenamiento del listado general, no es por p&aacute;gina).</li>
  <li>Notas: : se abrir&aacute; la ventana mostrada en la siguiente imagen donde usted 
    podr&aacute;:</li>
  <img
src="imagenes/parcial_3.jpg"> 
  <ul>
    <li>LU: si presiona una vez ordenar&aacute; en forma creciente por n&uacute;mero de Libreta 
      Universitaria los ex&aacute;menes. Si presiona otra vez ordenar&aacute; en forma decreciente 
      por los ex&aacute;menes, (el ordenamiento del listado general, no es por p&aacute;gina).</li>
    <li>Apellido: si presiona una vez ordenar&aacute; en forma creciente por Apellido 
      los alumnos. Si presiona otra vez ordenar&aacute; en forma decreciente por Apellido 
      los alumnos, (el ordenamiento del listado general, no es por p&aacute;gina).</li>
    <li>Nota: ingresar la nota del ex&aacute;men en el casillero correspondiente a cada 
      alumno.</li>
    <li>Comentarios: ingresar los comentarios a cada ex&aacute;men.</li>
    <li>Actualizar Notas: deber&aacute; presionar este bot&oacute;n si desea guardar las notas 
      ingresadas.</li>
    <li>Volver: Si no desea guardar las notas presione este bot&oacute;n, lo mismo si 
      desea volver al a p&aacute;gina principal de Administrar Examenes. </li>
    <li>Vista de impresi&oacute;n: para obtener una vista preliminar de impresi&oacute;n.</li>
  </ul>
  <li>Modif. Parcial: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n 
    de Alta Ex&aacute;menes y usted podr&aacute; realizar las mismas acciones que las enunciadas 
    all&iacute;.</li>
  <li>Eliminar: marcar el cuadro del Ex&aacute;men que desea eliminar (si son varios 
    marque todos), y luego presione el bot&oacute;n "Eliminar".</li>
  <li>Volver: presionar "Volver" cuando ya haya guardado los cambios y desee volver 
    a la p&aacute;gina principal de Administraci&oacute;n de los parciales. Tambi&eacute;n debe presionar 
    "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal 
    de Administraci&oacute;n de la C&aacute;tedra. </li>
</ul>
</body>
</html>