<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Trabajo pr&aacute;ctico.</h1>
	<h2>Alta Trabajos Pr&aacute;cticos:</h2>
<p>Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): </p>
<img 
src="imagenes/tp_1.jpg">
 


<ul>
<li>Nombre del TP: ingresar el  T&iacute;tulo del Trabajo Pr&aacute;ctico.</li>

<li>Publicar TP: marcar el cuadro del TP si desea publicarlo. Por defecto esta opci&oacute;n aparecer&aacute; marcada pero si usted no desea publicar el TP en este momento debe sacar la marca y presionar Guardar.</li>

<li>Breve Descripci&oacute;n: ingresar la descripci&oacute;n del Trabajo Pr&aacute;ctico.</li>
 
<li>Seleccione la/s comisiones: deber&aacute; seleccionar las comisiones a las cuales se le tomar&aacute; el TP. Si son varias marque todas.</li>

  <li>Fecha y hora del Ex&aacute;men: ingresar el d&iacute;a, el mes, el a&ntilde;o y la hora de toma 
    del TP. Para ello usted dispone de un calendario de ayuda. Si tilda la opci&oacute;n 
    &quot;sin fecha&quot; no se mostrara el contenido de la fecha.</li>

<li>Comentario para el listado de notas: ingresar los comentarios que considere necesarios para interpretar las notas del TP.</li>

  <li>Guardar: guarda o graba los cambios realizados y vuelve a la p&aacute;gina principal 
    de Administraci&oacute;n de los TPs. </li>

<li>Volver: Si usted no desea guardar los cambios presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de los TPs.
Tambi&eacute;n debe presionar "Volver" cuando ya haya guardado los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de los Tps.
</li></ul>

	<h2>Administrar Tp's:</h2>
<p>Recuerde que el primer paso debe ser dar de Alta un TP. Si usted no realiza este paso no podr&aacute; Administrar TPs.
Luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario que se explicar&aacute; a continuaci&oacute;n (ver gr&aacute;fico siguiente): 
</p> 
<img 
src="imagenes/tp_2.jpg">

<ul>
  <li>Comisi&oacute;n: elegir una de las opciones del men&uacute; desplegable de las comisiones 
    ingresadas para el ex&aacute;men parcial que esta administrando.</li>
  <li>Fecha Entrega: si presiona una vez ordenar&aacute; en forma creciente por fecha 
    los ex&aacute;menes. Si presiona dos veces ordenar&aacute; en forma decreciente por fecha 
    los ex&aacute;menes, (el ordenamiento del listado general, no es por p&aacute;gina).</li>
  <li>Notas: : se abrir&aacute; la ventana mostrada el la siguiente imagen donde usted 
    podr&aacute;:</li>
  <img 
src="imagenes/tp_3.jpg"> 
  <ul>
    <li>LU: si presiona una vez ordenar&aacute; en forma creciente por n&uacute;mero de Libreta 
      Universitaria los TP's. Si presiona dos veces ordenar&aacute; en forma decreciente 
      por los TP's, (el ordenamiento del listado general, no es por p&aacute;gina).</li>
    <li>Apellido: si presiona una vez ordenar&aacute; en forma creciente por Apellido 
      los alumnos del TP. Si presiona dos veces ordenar&aacute; en forma decreciente 
      por Apellido los alumnos del TP, (el ordenamiento del listado general, no 
      es por p&aacute;gina).</li>
    <li>Nota: aqu&iacute; deber&aacute; ingresar la nota del TP en el casillero correspondiente 
      a cada alumno.</li>
    <li>Comentarios: aqu&iacute; podr&aacute; ingresar los comentarios a cada TP.</li>
    <li>Actualizar Notas: deber&aacute; presionar este bot&oacute;n si desea guardar las notas 
      ingresadas.</li>
    <li>Volver: Si no desea guardar las notas presione este bot&oacute;n, lo mismo si 
      desea volver al a p&aacute;gina principal de Administrar TP's. </li>
    <li>Vista de impresi&oacute;n: para obtener una vista preliminar de impresi&oacute;n.</li>
  </ul>
  <li>Modif.. TP: se abrir&aacute; la misma ventana que la mostrada en la secci&oacute;n de 
    Alta TP's y usted podr&aacute; realizar las mismas acciones que las enunciadas all&iacute;.</li>
  <li>Eliminar: marcar el cuadro del TP que desea eliminar (si son varios marque 
    todos), y luego presione el bot&oacute;n "Eliminar".</li>
  <li>Volver: presionar "Volver" cuando ya haya guardado los cambios y desee volver 
    a la p&aacute;gina principal de Administraci&oacute;n de los TP's.</li>
</ul>
</body>
</html>
