<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<h1>Plan de C&aacute;tedra:</h1>
<p>Entendemos por "plan de c&aacute;tedra" al material relacionado con:</p>
<ul>
<li>Introducci&oacute;n a la materia. </li>
<li>Fundamentaci&oacute;n de la materia. </li>
<li>Contenidos a dictar por unidad. </li>
<li>Cronograma de dichas unidades.</li>
<li>Criterios de evaluaci&oacute;n.</li>
<li>Etc.</li></ul>

<h2>Modificar Plan de C&aacute;tedra:</h2>
<p>luego de seleccionar esta opci&oacute;n, se visualizar&aacute; un formulario semejante al que se muestra a continuaci&oacute;n.</p>
<img 
src="imagenes/plan_1.jpg">
 <ul>

<li>Contenido: Tenga en cuenta que dispone de todos los elementos necesarios en un procesador de texto para adornar o decorar el mismo, como ser distintos tama&ntilde;os y tipos de letra, agregar im&aacute;genes, etc.</li>

<li>Archivo - Examinar: podr&aacute; vincular o agregar uno o varios archivos presionando la opci&oacute;n: "Examinar" a trav&eacute;s de la cual se abrir&aacute; una nueva ventana donde usted deber&aacute; buscar la ruta adecuada al archivo que quiere agregar. Luego debe presionar "Abrir".</li>

<li>Archivo Seleccionado - Eliminar Archivo: en caso de haber adjuntado un archivo anteriormente usted ver&aacute; el nombre del archivo, si desea eliminarlo  puede hacerlo marcando el checkbox que est&aacute; ubicado al lado de "Seleccione si desea eliminar archivo" y guarde los cambios.</li>

<li>Guardar Cambios: para guardar los cambios presione el bot&oacute;n "Guardar Cambios".</li>

<li>Volver:  * Si usted desea salir sin guardar los cambios que realiz&oacute; presione "Volver", con esta opci&oacute;n volver&aacute; a la p&aacute;gina principal de Administraci&oacute;n de la C&aacute;tedra.
 * Tambi&eacute;n debe presionar "Volver" despu&eacute;s de guardar los cambios y desee volver a la p&aacute;gina principal de Administraci&oacute;n de C&aacute;tedra.
</li></ul>
</body>
</html>
