<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="1">&nbsp;</td>
          <td height="100%" valign="top"> 
            <p align="center">&nbsp;</p>
			<!-- BEGIN bloque -->
            <table width="70%" border="0" align="center">
              
              <tr> 
                <td>
				
				<div class="tt2">¿Qué es el RSS?<br></div>
			<p>El RSS ("Really Simple Syndication") es un formato que permite emitir contenidos desde un sitio para que sean agregados fácilmente en aplicaciones o sitios web. Los contenidos que se publican en este formato incluyen titulares y sumarios.</p>
			<p>Clarín.com le ofrece en formato RSS todos los títulos de las noticias con link a la nota completa:</p>
			<div class="sep3">&nbsp;</div>

			<div class="br7"></div><div class="sep">&nbsp;</div>

			<div class="lf"><img src="/shared/v8/img/ms_xml.gif"></div>
			<div class="lf20"><span class="txt5b">Canal Ultimo Momento</span><br clear="all">
			<a href="http://www.clarin.com/diario/hoy/um/sumariorss.xml" class="txt0b">http://www.clarin.com/diario/hoy/um/sumariorss.xml</a></div>
			<br clear="all"><div class="sep">&nbsp;</div><div class="br7"></div>
			<div class="lf"><img src="/shared/v8/img/ms_xml.gif"></div>
			<div class="lf20"><span class="txt5b">Canal El País</span><br clear="all">

			<a href="http://www.clarin.com/diario/hoy/elpais.xml" class="txt0b">http://www.clarin.com/diario/hoy/elpais.xml</a></div>
			<br clear="all"><div class="sep">&nbsp;</div><div class="br7"></div>
			<div class="lf"><img src="/shared/v8/img/ms_xml.gif"></div>
			<div class="lf20"><span class="txt5b">Canal Opinión</span><br clear="all">
			<a href="http://www.clarin.com/diario/hoy/opinion.xml" class="txt0b">http://www.clarin.com/diario/hoy/opinion.xml</a></div>
			<br clear="all"><div class="sep">&nbsp;</div><div class="br7"></div>
			<div class="lf"><img src="/shared/v8/img/ms_xml.gif"></div>

			<div class="lf20"><span class="txt5b">Canal El Mundo</span><br clear="all">
			<a href="http://www.clarin.com/diario/hoy/elmundo.xml" class="txt0b">http://www.clarin.com/diario/hoy/elmundo.xml</a></div>
			<br clear="all"><div class="sep">&nbsp;</div><div class="br7"></div>
			<div class="lf"><img src="/shared/v8/img/ms_xml.gif"></div>
				
				</td>
              </tr>
            </table>
			<!-- END bloque -->
            <div align="center"></div>
            <p align="center">&nbsp;</p>
            <div align="center"> 
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </td>
        </tr>
      </table>