
<html>
<head>
<title>Sindicacion</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<style>

.atom_link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #009900;
	text-decoration: none;
}

.atom_titulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006600;
	text-decoration: none;
	font-weight: bold;
}
body,table,td{
	background-color: #E3FDE7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
</style>

</head>

<body  marginheight="0" marginwidth="0">
<!-- BEGIN bloque -->
<table >
  <tr>
    <td width="267">
	<div style="padding-top:20px;padding-bottom:20px;font-size:12px; text-decoration:underline">Descubre una nueva forma de leer Matero<br>
    </div>
	<div>¿Qué es el ATOM?<br>
    </div>
			<p>El ATOM es un formato que permite emitir contenidos desde un sitio para que sean agregados fácilmente en aplicaciones o sitios web. Los contenidos que se publican en este formato incluyen titulares y sumarios.</p>
			<p>Matero le ofrece en formato ATOM informacion de novedades, apuntes y repositorio que son publicados en la pagina de la catedra</p>
			<p>Para sindicarse a los contenidos de la catedra <b>{nombre_catedra} </b> solo debe copiar alguna de las URL publicadas mas abajo y agregala a su lector de FEED favorito</p>

			<div class="sep3">&nbsp;</div>
			<div class="br7"></div><div class="sep">&nbsp;</div>

			<div class="lf"><img src="imagenes/atom.jpg"></div>
	  <div class="lf20"><span class="atom_titulo">Novedades</span><br clear="all">
		<span class="atom_link">
		http://www.frsf.utn.edu.ar/matero/visitante/atomg.php?id_catedra={id_catedra}&amp;tipo=nov</span><br clear="all">
			</div>
			<div class="sep">&nbsp;</div><div class="br7"></div>
			<div class="lf"><img src="imagenes/atom.jpg"></div>

	  <div class="lf20"><span class="atom_titulo">Repositorio</span><br clear="all">
		<span class="atom_link">
		http://www.frsf.utn.edu.ar/matero/visitante/atomg.php?id_catedra={id_catedra}&amp;tipo=rep</span></div>
			<br clear="all"><div class="sep">&nbsp;</div><div class="br7"></div>
			<div class="lf"><img src="imagenes/atom.jpg"></div>
	  <div class="lf20"><span class="atom_titulo">Apuntes</span><br clear="all">
		<span class="atom_link">
		http://www.frsf.utn.edu.ar/matero/visitante/atomg.php?id_catedra={id_catedra}&amp;tipo=ap</span></div>
			<br clear="all"><div class="sep">&nbsp;</div><div class="br7"></div>

			<div class="lf"><img src="imagenes/atom.jpg"></div>
	  <div class="lf20"><span class="atom_titulo">General</span><br clear="all">
		<span class="atom_link">http://www.frsf.utn.edu.ar/matero/visitante/atomg.php?id_catedra={id_catedra}</span></div>

	</td>
  </tr>
</table>

<!-- END bloque -->
</body>
</html>