<html>
<head>
<title>Alta C&aacute;tedras</title>
<link rel="stylesheet" href="../estilos/administrador.css" type="text/css">
</head>
<body>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr>
    <td> 
      <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="mensaje">
        <tr> 
          <td class="mensaje"> 
            <div align="center">{mensaje} </div>
          </td>
        </tr>
      </table>
      <br>
		<form name="form1" method="get" action="catedras_hacer_alta.php">
        <table width="603"  cellspacing="2" align="center">
          <tr class="tabla_titulo"> 
            <td  colspan="3"  align="center"> Alta C&aacute;tedras</td>
          </tr>
          <tr> 
            <td class="tabla_cuerpo" colspan="2">&nbsp;</td>
          </tr>
          <tr> 
            <td class="tabla_cuerpo" width="237" valign="top" height="130"> 
              <!-- BEGIN bloque_datos_catedra -->
              <br>
              <table width="99%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                  <td width="13%" class="tabla_cuerpo">nombre:</td>
    				<td width="32%" class="tabla_cuerpo"> 
    			  <input type="text" class="campo_texto" name="vf_nombre_catedra" value={nombre}>
  				  </td>
                </tr>
                <td width="13%" class="tabla_cuerpo">email:</td>
    			<td width="32%"> 
			      <input type="text"  name="vf_email" class="campo_texto" value={email}>
			    </td>
              </table>
              <!-- END bloque_datos_catedra -->
            </td>
            <td class="tabla_cuerpo" width="299" height="130"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="55%" class="tabla_cuerpo" height="27">&nbsp;&nbsp;Carreras 
                    a la que pertenece:</td>
                </tr>
                <tr>
                  <td rowspan="3" width="55%" align="center" valign="middle"> 
                    <div align="center"> 
                      <select class="campo_texto" name="vf_list_carreras[]" size="6" multiple>
                        <!-- BEGIN bloque_carreras -->
                        <option value="{id_carrera}" {selected{id_carrera}}>{carrera}</option>
          <!-- END bloque_carreras -->
        </select>
                    </div>
    </td>
                </tr>
              </table>
              <br>
            </td>
          </tr>
          <tr> 
            <td class="tabla_cuerpo" colspan="2"> 
              <div align="center"> 
                <input type="submit" class="boton" name="vf_cargar" value="Cargar">
                <input type="submit" class="boton" name="vf_cargar_otra" value="cargar otra">
                <input type="submit" class="boton" name="vf_volver" value="volver">
              </div>
            </td>
          </tr>
          <tr> 
            <td class="firma" height="18" colspan="2"> 
              <div align="center">{firma}</div>
            </td>
          </tr>
        </table>
      </form>
      <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Info: Con &quot;Ctrl&quot; 
      se puede seleccionar m&aacute;s de una carrera para la c&aacute;tedra</font></td>
  </tr>
</table>
</body>
</html>
